body {
    background: url(Backart.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #cccccc;
  }

h1 {
  color: blue;
  }

p {
  color: red;
  }